<!--begin::Misc Widget 1-->
<div class="row mb-5 mb-xl-8 g-5 g-xl-8">
        <!--begin::Col-->
        <div class="col-6">
            <!--begin::Card-->
            <div class="card card-stretch">
                <!--begin::Link-->
                <a href="?page=account/overview" class="btn btn-flex btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10">
                    <i class="ki-duotone ki-gift fs-2tx mb-5 ms-n1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                    <span class="fs-4 fw-bold">
                        User Profile                    </span>
                </a>
                <!--end::Link-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-6">
            <!--begin::Card-->
            <div class="card card-stretch">
                <!--begin::Link-->
                <a href="?page=account/statements" class="btn btn-flex btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10">
                    <i class="ki-duotone ki-technology-2 fs-2tx mb-5 ms-n1"><span class="path1"></span><span class="path2"></span></i>
                    <span class="fs-4 fw-bold">
                        Statements                    </span>
                </a>
                <!--end::Link-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-6">
            <!--begin::Card-->
            <div class="card card-stretch">
                <!--begin::Link-->
                <a href="?page=account/referrals" class="btn btn-flex btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10">
                    <i class="ki-duotone ki-fingerprint-scanning fs-2tx mb-5 ms-n1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                    <span class="fs-4 fw-bold">
                        Best Referrals                    </span>
                </a>
                <!--end::Link-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-6">
            <!--begin::Card-->
            <div class="card card-stretch">
                <!--begin::Link-->
                <a href="?page=apps/customers/view" class="btn btn-flex btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10">
                    <i class="ki-duotone ki-abstract-26 fs-2tx mb-5 ms-n1"><span class="path1"></span><span class="path2"></span></i>
                    <span class="fs-4 fw-bold">
                        Hot Picks                    </span>
                </a>
                <!--end::Link-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-6">
            <!--begin::Card-->
            <div class="card card-stretch">
                <!--begin::Link-->
                <a href="?page=apps/projects/project" class="btn btn-flex btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10">
                    <i class="ki-duotone ki-basket fs-2tx mb-5 ms-n1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                    <span class="fs-4 fw-bold">
                        Latest Trands                    </span>
                </a>
                <!--end::Link-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-6">
            <!--begin::Card-->
            <div class="card card-stretch">
                <!--begin::Link-->
                <a href="?page=apps/projects/users" class="btn btn-flex btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justfiy-content-start align-items-start text-start w-100 p-10">
                    <i class="ki-duotone ki-rocket fs-2tx mb-5 ms-n1"><span class="path1"></span><span class="path2"></span></i>
                    <span class="fs-4 fw-bold">
                        New Arrivals                    </span>
                </a>
                <!--end::Link-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Col-->
            </div>
<!--end::Misc Widget 1-->